# comment: .gitignore模板
##### 项目特有 #####


#### 开发环境 ####
# JetBrain系列ide
.idea
cmake-build-debug
# vim缓存文件
*.swp
*.swo
# github_dir_tree文件
.dir_description

#### python ####
# py部署脚本
pypi_upload.sh
# 构建以及部署
dist
build
eggs/
.eggs/
*.egg-info/
.installed.cfg
*.egg
venv
__pycache__



#### cpp ####
# C extensions
*.so